src/main/resources/xsd/legacy/getMinorCreditor/get_minor_creditor_account_header_summary_response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="../common-objects/error_response.xsd"/>
  <xsd:include schemaLocation="../common-objects/simple_type.xsd"/>
  <xsd:include schemaLocation="../common-objects/party_details.xsd"/>
  <xsd:include schemaLocation="../common-objects/business_unit_summary.xsd"/>
  <xsd:include schemaLocation="../common-objects/creditor_account_type_reference.xsd"/>

  <xsd:element name="response">
    <xsd:complexType>
      <xsd:choice>
        <xsd:sequence>
          <xsd:element name="party" type="party_details" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="business_unit" type="business_unit_summary" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="creditor" type="creditor" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="financials" type="financials" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:sequence>
          <xsd:element name="error_response" type="error_response" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="creditor">
    <xsd:sequence>
      <xsd:element name="account_version" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="account_id" type="xsd:long" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="account_number" type="account_number" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="account_type" type="creditor_account_type_reference" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="financials">
    <xsd:sequence>
      <xsd:element name="awarded" type="Money2Decimal" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="paid_out" type="Money2Decimal" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="awaiting_payout" type="Money2Decimal" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="outstanding" type="Money2Decimal" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
