src/main/resources/xsd/legacy/getMinorCreditor/get_minor_creditor_account_at_a_glance_response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="../common-objects/party_details.xsd"/>
  <xsd:include schemaLocation="../common-objects/address_details.xsd"/>
  <xsd:include schemaLocation="../common-objects/simple_type.xsd"/>
  <xsd:include schemaLocation="../common-objects/error_response.xsd"/>
  <xsd:element name="response">
    <xsd:complexType>
      <xsd:choice>
        <xsd:sequence>
          <xsd:element name="party" type="party_details" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="address" type="address_details" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="creditor_account_id" type="xsd:long" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="creditor_account_version" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="defendant" type="defendant" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="payment" type="payment" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:sequence>
          <xsd:element name="error_response" type="error_response" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="defendant">
    <xsd:sequence>
      <xsd:element name="account_number" type="account_number" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="account_id" type="xsd:long" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="payment">
    <xsd:sequence>
      <xsd:element name="is_bacs" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="hold_payment" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
