src/main/resources/xsd/legacy/removeDefendantAccountEnforcementHold/remove_defendant_account_enforcement_hold_request.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="request">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="defendant_account_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="business_unit_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="business_unit_user_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="version" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="reason" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
