src/main/resources/xsd/legacy/searchMinorCreditorAccountsResponse/defendant.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="defendant">
      <xsd:choice>
        <xsd:sequence>
          <xsd:element name="organisation_name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:sequence>
          <xsd:element name="defendant_firstnames" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="defendant_surname" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:choice>
  </xsd:complexType>
</xsd:schema>