src/main/resources/xsd/legacy/searchMinorCreditorAccountsResponse/search_minor_creditor_accounts_response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="creditor_accounts.xsd"/>
  <xsd:include schemaLocation="error_response.xsd"/>
  <xsd:element name="response">
    <xsd:complexType>
      <xsd:choice>
        <xsd:sequence>
          <xsd:element name="count" type="xsd:int" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="creditor_accounts" type="creditor_accounts" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:sequence>
          <xsd:element name="error_response" type="error_response" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>