src/main/resources/xsd/legacy/searchDefendantAccountsResponse/aliases_element.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="aliases_element">
    <xsd:sequence>
      <xsd:element name="alias_number" type="xsd:int" minOccurs="1" maxOccurs="1"/>
      <xsd:choice>
        <xsd:sequence>
          <xsd:element name="organisation_name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:sequence>
          <xsd:element name="surname" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="forenames" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
