src/main/resources/xsd/legacy/updateDefendantAccount/update_defendant_account_response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="../common-objects/comments_and_notes.xsd"/>
  <xsd:include schemaLocation="../common-objects/collection_order.xsd"/>
  <xsd:include schemaLocation="../common-objects/enforcement_override.xsd"/>
  <xsd:include schemaLocation="../common-objects/error_response.xsd"/>
  <xsd:element name="request">
    <xsd:complexType>
      <xsd:choice>
        <xsd:sequence>
          <xsd:element name="defendant_account_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="version" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
          <xsd:choice>
            <xsd:element name="comment_and_notes" type="comments_and_notes" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="enforcement_court_id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="collection_order" type="collection_order" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="enforcement_override" type="enforcement_override" minOccurs="0" maxOccurs="1"/>
          </xsd:choice>
        </xsd:sequence>
        <xsd:sequence>
          <xsd:element name="error_response" type="error_response" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
