src/main/resources/xsd/legacy/common-objects/business_unit_summary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="simple_type.xsd"/>
  <xsd:complexType name="business_unit_summary">
    <xsd:sequence>
      <xsd:element name="business_unit_name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="business_unit_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="welsh_speaking" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>