src/main/resources/xsd/legacy/common-objects/comments_and_notes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="comments_and_notes">
    <xsd:sequence>
      <xsd:element name="account_comment" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="free_text_note_1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="free_text_note_2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="free_text_note_3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>