src/main/resources/xsd/legacy/common-objects/contact_details.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:complexType name="contact_details">
    <xsd:sequence>
      <xsd:element name="primary_email_address" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="secondary_email_address" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="mobile_telephone_number" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="home_telephone_number" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="work_telephone_number" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
