src/main/resources/xsd/legacy/common-objects/enforcer_reference.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:complexType name="enforcer_reference">
    <xsd:sequence>
      <xsd:element name="enforcer_id" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="enforcer_name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>