src/main/resources/xsd/legacy/common-objects/enforcement_override_result_reference.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:complexType name="enforcement_override_result_reference">
    <xsd:sequence>
      <xsd:element name="enforcement_override_result_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="enforcement_override_result_name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>