src/main/resources/xsd/legacy/common-objects/fixed_penalty_ticket_details.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="fixed_penalty_ticket_details">
    <xsd:sequence>
      <xsd:element name="issuing_authority" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ticket_number" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="time_of_offence" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="place_of_offence" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
