src/main/resources/xsd/legacy/common-objects/individual_aliases_element.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="individual_aliases_element">
    <xsd:all>
      <xsd:element name="alias_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="sequence_number" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="5"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="surname" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="forenames" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:all>
  </xsd:complexType>
</xsd:schema>
