src/main/resources/xsd/legacy/common-objects/language_preferences.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="language.xsd"/>
  <xsd:complexType name="language_preferences">
    <xsd:sequence>
      <xsd:element name="document_language_preference" type="language" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="hearing_language_preference" type="language" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>