src/main/resources/xsd/legacy/common-objects/last_enforcement_action.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:complexType name="last_enforcement_action">
    <xsd:sequence>
      <xsd:element name="last_enforcement_action_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="last_enforcement_action_title" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>