src/main/resources/xsd/legacy/common-objects/note.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="./simple_type.xsd"/>

  <xsd:complexType name="note">
    <xsd:sequence>
      <xsd:element name="record_type" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Defendant Account"/>
            <xsd:enumeration value="Creditor Account"/>
            <xsd:enumeration value="Suspense Account"/>
            <xsd:enumeration value="Report Instances"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="record_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="note_text" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="note_type" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="AA"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>