src/main/resources/xsd/legacy/common-objects/organisation_details.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="organisation_aliases.xsd"/>
  <xsd:complexType name="organisation_details">
    <xsd:sequence>
      <xsd:element name="organisation_name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="organisation_aliases" type="organisation_aliases" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>