src/main/resources/xsd/legacy/common-objects/vehicle_details.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:complexType name="vehicle_details">
    <xsd:sequence>
      <xsd:element name="vehicle_make_and_model" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="vehicle_registration" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
