src/main/resources/xsd/legacy/getDefendantAccountFixedPenalty/get_defendant_account_fixed_penalty_legacy_response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:include schemaLocation="./common-objects/vehicle_fixed_penalty_ticket_details.xsd"/>
    <xsd:include schemaLocation="./common-objects/fixed_penalty_ticket_details.xsd"/>
    <xsd:include schemaLocation="./common-objects/error_response.xsd"/>
    <xsd:element name="response">
        <xsd:complexType>
            <xsd:choice>
                <xsd:sequence>
                    <xsd:element name="version" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="vehicle_fixed_penalty_flag" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="fixed_penalty_ticket_details" type="fixed_penalty_ticket_details" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="vehicle_fixed_penalty_ticket_details" type="vehicle_fixed_penalty_ticket_details" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element name="error_response" type="error_response" minOccurs="1" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:choice>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>