src/main/resources/xsd/legacy/createDefendantAccount/aliases_element.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="aliases_element">
    <xsd:choice>
      <xsd:sequence>
        <xsd:any minOccurs="0" maxOccurs="0"/>
      </xsd:sequence>
      <xsd:sequence>
        <xsd:element name="alias_forenames" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="alias_surname" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="alias_company_name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:choice>
  </xsd:complexType>
</xsd:schema>
