src/main/resources/xsd/legacy/createDefendantAccount/create_defendant_account_request.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="defendant_account.xsd"/>
  <xsd:element name="request">
    <xsd:complexType>
      <xsd:all>
        <xsd:element name="business_unit_id" type="xsd:int" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="business_unit_user_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="defendant_account" type="defendant_account" minOccurs="1" maxOccurs="1"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
