src/main/resources/xsd/legacy/createDefendantAccount/create_defendant_account_response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="error_response.xsd"/>
  <xsd:element name="response">
    <xsd:complexType>
      <xsd:all>
        <xsd:element name="defendant_account_id" type="xsd:long" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="defendant_account_number" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="error_response" type="error_response" minOccurs="0" maxOccurs="1"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
