src/main/resources/xsd/legacy/createDefendantAccount/debtor_detail.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="simple_type.xsd"/>
  <xsd:include schemaLocation="aliases.xsd"/>
  <xsd:complexType name="debtor_detail">
    <xsd:choice>
      <xsd:sequence>
        <xsd:any minOccurs="0" maxOccurs="0"/>
      </xsd:sequence>
      <xsd:sequence>
        <xsd:element name="vehicle_make" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="vehicle_registration_mark" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="document_language" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="hearing_language" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="employee_reference" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="employer_company_name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="employer_address_line_1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="employer_address_line_2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="employer_address_line_3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="employer_address_line_4" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="employer_address_line_5" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="employer_post_code" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="employer_telephone_number" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="employer_email_address" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="aliases" type="aliases" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:choice>
  </xsd:complexType>
</xsd:schema>
