src/main/resources/xsd/legacy/createDefendantAccount/impositions_element.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="minor_creditor.xsd"/>
    <xsd:complexType name="impositions_element">
    <xsd:all>
      <xsd:element name="result_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="amount_imposed" type="xsd:decimal" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="amount_paid" type="xsd:decimal" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="major_creditor_id" type="xsd:long" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="minor_creditor" type="minor_creditor" minOccurs="0" maxOccurs="1"/>
    </xsd:all>
  </xsd:complexType>
</xsd:schema>
