src/main/resources/xsd/legacy/createDefendantAccount/minor_creditor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="simple_type.xsd"/>
  <xsd:complexType name="minor_creditor">
    <xsd:choice>
      <xsd:sequence>
        <xsd:any minOccurs="0" maxOccurs="0"/>
      </xsd:sequence>
      <xsd:sequence>
        <xsd:element name="company_flag" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="company_name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="title" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="surname" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="forenames" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="dob" type="xsd:date" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="address_line_1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="address_line_2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="address_line_3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="address_line_4" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="address_line_5" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="post_code" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="telephone" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="email_address" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="payout_hold" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="pay_by_bacs" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="bank_account_type" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="bank_sort_code" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="bank_account_number" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="bank_account_name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="bank_account_ref" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:choice>
  </xsd:complexType>
</xsd:schema>
