src/main/resources/xsd/legacy/addNote/add_note_request.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="../common-objects/note.xsd"/>
  <xsd:element name="request">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="business_unit_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="business_unit_user_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="version" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="activity_note" type="note" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
