src/main/resources/xsd/legacy/getDefendantAccountEnforcementStatus/get_defendant_account_enforcement_status_response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:include schemaLocation="../common-objects/error_response.xsd"/>
    <xsd:include schemaLocation="../common-objects/enforcement_override.xsd"/>
    <xsd:include schemaLocation="../common-objects/account_status_reference.xsd"/>
    <xsd:include schemaLocation="../common-objects/court_reference.xsd"/>
    <xsd:include schemaLocation="../common-objects/collection_order.xsd"/>
    <xsd:include schemaLocation="../common-objects/result_reference.xsd"/>
    <xsd:include schemaLocation="../common-objects/enforcer_reference.xsd"/>
    <xsd:include schemaLocation="../common-objects/result_responses.xsd"/>
    <xsd:element name="response">
        <xsd:complexType>
            <xsd:choice>
            <xsd:sequence>
                <xsd:element name="version" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="enforcement_overview" type="enforcement_overview" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="enforcement_override" type="enforcement_override" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="last_enforcement_action" type="enforcement_action" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="account_status_reference" type="account_status_reference" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="employer_flag" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:sequence>
                <xsd:element name="error_response" type="error_response" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
            </xsd:choice>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="enforcement_overview">
        <xsd:sequence>
            <xsd:element name="days_in_default" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="enforcement_court" type="court_reference" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="collection_order" type="collection_order" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="enforcement_action">
        <xsd:sequence>
            <xsd:element name="result_reference" type="result_reference" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="reason" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="enforcer" type="enforcer_reference" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="warrant_number" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="date_added" type="xsd:date" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="result_responses" type="result_responses" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
